/* comentario en css */
boby{ 
    background-color: rgb(67, 188, 204); 
    color:blueviolet;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: left 6em;
}